
/*      BANNER   */

.banner{
    background-image: url("../imagenes/banner2.jpeg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
   
}

.efecto-banner{
    background-blend-mode: Overlay;
    background-attachment: fixed; 
    animation: b 9s ease infinite alternate;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.6);
}

.centrar-ba{
    padding-top: 25%;   
    padding-left: 150px;
    padding-right: 150px;
}

.font{
    font-family: 'Zilla Slab', serif;
    
}

.tit-grand{
    font-size:35px;
}

.font2{
    font-family: 'Raleway', sans-serif;
}

@keyframes b{
	0%{
		background-position: 0 -180px;
		-ms-background-position: 0 -600px;
	}
	100%{
		background-position: 0 0 ;
		-ms-background-position: 0 0;
	}
}

/*   Seccion #1*/

.seccion1{
    width: 100%;
    background-color:  #6ac8c8;
}

.espacio-p1s1{
    padding-top: 60px;   
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 45px;
    margin: 0 auto ;
}

.p-hr{
    background-color: #6ac8c8;
    width: 80%;
    height: 3px;
}

/*   Seccion #2*/

.seccion2{
    width: 100%;
}

.espacio-s2{
    padding-top: 60px;   
    padding-left:10%;
    padding-right:10%;
    padding-bottom: 60px;
    margin: 0 auto ;
}
.efecto-img{
    border-radius: 50%;
    border:3px solid  #343a40;
}

.efecto-icono{
    background-color: #343a40;
    padding:7px 7px;
    border-radius: 15px;
    color: #fff;
}

.espacio-icono{
    margin-left: 20px;
    margin-bottom: 10px;
}

.p2-hr{
    background-color: #343a40;
    width: 70%;
    height: 2px;
}

.p3-hr{
    background-color: #343a40;
    width: 60%;
    height: 1px;
}
/*   Seccion #3*/

.seccion3{
    width: 100%;
    background-color: #343a40;
}

.espacio-p1s3{
    padding-top: 60px;   
    padding-left:10%;
    padding-right: 10%;
    padding-bottom: 60px;
    margin: 0 auto ;
}

.ajustar{
    
    padding-left:30%;
    padding-right: 30%;
}

.cuadro{
    background-color: #343a40 !important ; 
    padding:30px 30px;
    border-radius: 15px;
    border:2px solid  #fff;
}

.marco{
    margin: 0 auto !important;
}

/* Curriculum */

.seccion-curr{
    width: 100%;
    height: 300px;
    background-color: rgb(231, 230, 230);
   
}

.p4-hr{
    background-color: #343a40;
    width: 60%;
    height: 1px;
}

/*   Seccion #4*/

.seccion4{
    width: 100%;
}

.espacio-s4{
    padding-top: 60px;   
    padding-left:10%;
    padding-right: 10%;
    padding-bottom: 60px;
    margin: 0 auto ;
}

.efecto-barras{
    background-color:  #6ac8c8;
}

/*   Seccion #5*/

.seccion5{
    width: 100%;
    background-image: url("../imagenes/banner.jpeg");
    height: 100vh;
    background-size:cover;
    background-attachment: fixed; 
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.6);
}

.espacio-p1s5{
    padding-top: 280px;   
    padding-left:20%;
    padding-right: 20%;
    
    margin: 0 auto ;
}

.hr-mod{
    width: 25%;
    background-color: white;
  
}
.p5-hr{
    border-top: 2px dashed #343a40;
    border-bottom: 1px dashed #fff;
    width: 80%;
}

/*   Seccion #6*/

.container-fluid6{
    width: 100%;
    
    padding-top: 80px;
    padding-bottom: 90px;
    padding-left: 15%;
    padding-right: 15%;
    
}

/*   Seccion #7*/

.container-fluid7{
    background-color:  #fff;
    padding-left: 10%;
    padding-right: 10%;
}

.caja{
	/*start ------------*/
	background-color: #fff; 
	border: solid #343a40 3px; 
	border-top-left-radius: 3px; -webkit-border-top-left-radius: 3px; -moz-border-top-left-radius: 3px; 
	border-top-right-radius: 3px; -webkit-border-top-right-radius: 3px; -moz-border-top-right-radius: 3px; 
	border-bottom-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-bottom-left-radius: 3px; 
	border-bottom-right-radius: 3px; -webkit-border-bottom-right-radius: 3px; -moz-border-bottom-right-radius: 3px; 
}

.efec-icono{
    background-color: #343a40;
    border-radius: 50%;
    color: #fff;
    padding: 10px 15px;
}

.acomodar{
    margin: -150px auto;
}

/*   Footer    */
 
.footer{
    width: 100%;
    height: 75px;
    background-color: #24272a;
   
}
.letra{
    font-size: 13px;
}

.margen-fo{
    padding-top: 15px;
    padding-left: 105px;
    padding-bottom: 15px;
}

/*    FUNCIONES PARA EL NAV      */ 

.navbar {
    letter-spacing: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    font-size:12px;
    box-shadow: inset 0 0 0 1000px #343a40;
    color: #000;
  }

  .navbar-nav li a {
	color: #fff;
	text-decoration: none;
	line-height: 20px;
    font-size: 12px;
	padding: 15px 10px 15px 10px;
}

.navbar-nav  li a:hover {
    background-color: #6ac8c8 !important;
    padding-left: 20px;
    padding-right: 20px;
    color:#fff !important;
}

.menu-desple{
    background-color: #343a40;
    font-size: 12px;
}

/* MENU HAMBURGUESA */
.navbar-toggler{
    background-color: #6ac8c8;
  }
  .navbar-toggler:hover{
    background-color: #fff;
  }
  .custom-toggler.navbar-toggler {
    border-color:#6ac8c8;
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }         
  .custom-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  } 

  /*   Acomodar    */

  .fijar {
	position: sticky;
	position: fixed; 
	max-width: 100%;
	z-index: 1000;
}

p{
    text-align: justify;
    font-family: 'Raleway', sans-serif;
}

@media(max-width: 575px){
	.margenes1{
		margin: 0 auto !important;
		text-align: center;
		
    }

    .margenes2{
        padding-left: 7%;
        padding-right: 7%;
    }

    .margenes3{
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 60%;
    }

    .font-baj{
        font-size: 15px;
    }

    .font-baj-con{
        font-size: 15px;
    }
    .agrandar{
        width: 100%;
        height: 500px;
    }

    

    .bajar{
        padding-top: 22px;
    }

}

@media(min-width: 576px) and (max-width: 767px){
    .margenes1{
		margin: 0 auto !important;
		text-align: center;
		
    }
    .margenes2{
        padding-left: 7%;
        padding-right: 7%;
    }
    .agrandar{
        width: 100%;
        height: 500px;
    }
    .bajar{
        padding-top: 30px;
    }
    .font-baj{
        font-size: 18px !important;
    }
    .font-baj-con{
        font-size:15px  ;
    }
}

@media(min-width: 768px) and (max-width: 991px){
    .margenes1{
		margin: 0 auto !important;
		text-align: center;
		
    }
    .margenes2{
        padding-left: 7%;
        padding-right: 7%;
    }
    .bajar{
        padding-top: 30px;
    }
    .font-baj{
        font-size: 20px !important;
    }
    .agrandar{
        width: 100%;
        height: 400px;
    }
    .baj-imag{
        width: 280px; 
        height: 190px;
    }
}

@media(min-width: 992px) and (max-width: 1199px){
    .font-baj{
        font-size: 15px !important;
    }
}
